<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.pthippo.main</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialIcons-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>PT Hippo needs your location to help you find better job assignments and check-in / check-out of job assignments</string>
	<key>NSCalendarsUsageDescription</key>
	<string>PT Hippo needs to access your calendar</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSUbiquitousContainerIsDocumentScopePublic</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PTHippo would like to access your Photos to upload your profile picture.</string>
	<key>CFBundleName</key>
	<string>PT Hippo</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>2</string>
</dict>
</plist>
